body {
  background-color: black;
  color: white;
  text-align: center;
}

span {
    display: inline-block;
  }

a {
  color: #bd0000;
}

cite {
  font-size: 12px;
}

p {
  padding-right: 10px;
}

.img-size-layout {
  height: 300px;
  width: 470px;
}

#icons {
  padding: 20px;
}

#mini-layout {
  padding: 20px;
}